<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Kristoffer Karlsson</title>
    <link href="//fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  </head>
  <body>
  	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuahTTZiysuDnLlD78F5gj7MlCZkHnaA"></script>
  	<main id="app"></main>
  </body>
</html>
